<div class="main">
  <%#ページ名領域%>
  <%= render "parts/first-header" %>
  <div class="second-header-service-wrapper">
    <div class="second-header-translucent">
      <div class="title-box">
        <h2 class="menu-title">
          サービス一覧
        </h2>
      </div>
    </div>
  </div>
  <div class="services-wrapper">
    <%#サービス内容分類ボタン領域%>
    <div class="service-conditions">
      <div class="service-condition btn" id="button">
        全サービス一覧
      </div>
      <div class="service-condition btn"  id="button">
        カウント達成条件一覧
      </div>
      <div class="service-condition btn"  id="button">
        種類達成条件一覧
      </div>
    </div>
    <script>
      let switch = 1 || 2;
      const buttons = document.querySelectorAll('#button');
      for(let i = 0; i < buttons.length; i++) {
        buttons[i].addEventListener('click', function(){contentSwitch(i)})
      }
      function contentSwitch(i) {
        alert('id名「' + i + '」のボタンを押しました。');
        return i;
      }
    </script>
    <%#サービス内容領域%>
    <div id="service-content-display">
      <% @services.each do |service|%>
        <% if service.category == 1 || 2%> <%#javacsriptで切り替える部分%>
        <div class="service-contents">
          <span class="material-symbols-outlined">block</span>
          <input class="service-condition" name="service-condition" type="hidden" value=<% service.condition %>>
          <%= service.condition %>
          <span>：</span>
          <input class="service-service" name="service-service" type="hidden" value=<% service.service %>>
          <%= service.service%>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%#= javascript_pack_tag 'services' %>