<div class="main">
  <%#ページ名領域%>
  <%= render "parts/first-header" %>
  <div class="second-header-service-wrapper">
    <div class="second-header-translucent">
      <div class="title-box">
        <h2 class="menu-title">
          サービス一覧
        </h2>
      </div>
    </div>
  </div>
  <div class="services-wrapper">
    <%#サービス内容分類ボタン領域%>
    <div class="service-conditions">
      <div class="service-condition btn" id="button">
        全サービス一覧
      </div>
      <div class="service-condition btn"  id="button">
        カウント達成条件一覧
      </div>
      <div class="service-condition btn"  id="button">
        種類達成条件一覧
      </div>
    </div>
    <%#サービス内容領域%>
    <div class="service-content-display">
    <% @services.each do |service|%>
      <div class="service-contents">
        <span class="material-symbols-outlined">block</span>
        <%= service.condition %>
        <span>：</span>
        <%= service.service%>
      </div>
    <% end %>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'services' %>