/*寿司ネタ評価領域*/
.rating-content {
 height: 150px;
}

/*エラー表示領域*/
.notification {
  color: red;
}

/*星評価共通*/
.average-score {
  display: flex;
}

.star-rating {
  margin-left: 10%;
}

.average-score-display {
  font-size: 16px;
  margin: auto;
}

.star-rating {
  position: relative;
  line-height: 2em;
  width: 5em;
  height: 2em;
  font-size: 36px;
}

/*星評価の数値抽象表現(土台を上書き)*/
.star-rating-front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
}

/*星評価の土台*/
.star-rating-back {
  color: #ccc;
}

.example {
  padding-left: 35%;
}

.main-rating {
  display: flex;
  padding-left: 100px;
}

/*星描写*/
.rating-box .ratings .fa {
  font-size: 30px;
  color: #fc0;
  cursor: pointer;
}

/*星評価の暫定値(ユーザー操作時に数値変更可)*/
.rating-value-display {
  font-size: 20px;
}

/*特定寿司ネタ評価一覧*/
.card-header-title {
  font-weight: bold;
  font-size: 24px;
}

/*特定寿司ネタ評価一覧テーブル領域*/
.table {
  border-collapse: collapse; /*隣接する枠線を重ねて表示*/
  border-spacing: 0; /*枠線を間隔をなしに*/
  width: 100%;
  text-align: center;
 }

 .table th {
  text-align: center;
  font-weight: bold;
  background: #e3f6f5;
  border: solid 1px #666666;
  padding: 10px;
  width: 25%;
 }

 .table td {
  border: solid 1px #666666;
  padding: 10px;
  width: 25%;
 }

 /*特定寿司ネタ評価入力領域*/
 .card {
   text-align: center;
 }

 .review-write {
  font-size: 20px;
  margin-bottom: 10px;
 }

 .comment-textarea {
  width: 60%;
  height: 150px;
  margin-top: 10px;
  display: block;
 }

 .comment-btn {
  width: 260px;
  height: 30px;
  line-height: 0px;
  margin: 15px 30px 0 0;
  padding: 30px 0;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background-color: #0099ff;
  border-color: #0077dd;
  border-radius: 20px;
  box-shadow:
    4px 4px 6px #cceeff inset, /* 内側左上ハイライト */
    -4px -4px 6px #0077dd inset, /* 内側右下シャドー */
    -2px -2px 3px #cceeff, /* 外側左上ぼかし */
    2px 2px 3px #66ccff; /* 外側右下ぼかし */
  background-image: none;
  cursor: pointer;
 }

