/*ページ名領域*/
.second-header-ranking-wrapper {
  width: 100%;
  height: 120px;
  background-image: url(second-ranking-header.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

/*ランキング内容領域*/
.ranking-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

/**ランキング分類ボタン**/
.ranking-condition-menu {
  width: 30%;
  padding: 50px;
  background-color: rgba(187, 149, 118, 0.2);
}

.rank-condition {
  font-size: 18px;
  color: rgb(50, 34, 34);
  border: 3px double rgb(227, 237, 233);
  box-shadow: 0px 5px 0px #678767;
}

/**ランキング内容表示領域**/
.ranking-content-display {
  width: 70%;
  background-color: #FFF;
  padding: 30px;
}

/***表彰1位~3位***/
.commendation {
  display: flex;
  width: 100%;
  height: 500px;
  border: double #000;
}

.priority {
  position: relative;
  width: 60%;
  height: 100%;
  background-color: red;
}

.first-icon {
  position: absolute;
  top: 10px;
  left: 10px;
}

.first-rank-content {
  height: 100%;
}

.associate {
  width: 40%;
  height: 100%;
  background-color: blue;
}

.secondary-rank-content {
  width: 100%;
  height: 50%;
  border-left: double #000;
  border-bottom: double #000;
}

/***表彰4位~10位***/
.sub-commendation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  border: double #000;
  background-color: green;
}

.sub-rank-content {
  border-right: double #000;
}
