<div class="main">
  <%#ページ名領域%>
  <%= render "parts/first-header" %>
  <div class="second-header-ranking-wrapper">
    <div class="second-header-translucent">
      <div class="title-box">
        <h2 class="menu-title">
          ランキング
        </h2>
      </div>
    </div>
  </div class="ranking-wrapper">
    <div class="services-wrapper">
      <%#ランキング分類領域%>
      <div class="ranking-condition-menu">
        <div class="rank-condition btn" id="button">
          カウント数全般
        </div>
        <div class="rank-condition btn"  id="button">
          赤身ネタ分類
        </div>
        <div class="rank-condition btn"  id="button">
          白身ネタ分類
        </div>
        <div class="rank-condition btn"  id="button">
          光り物ネタ分類
        </div>
        <div class="rank-condition btn"  id="button">
          貝類ネタ分類
        </div>
        <div class="rank-condition btn"  id="button">
          その他分類
        </div>
      </div>
      <%#ランキング内容領域%>
      <div class="ranking-content-display">
        <div class="rank-content">
          一位専用(ゴールド)
        </div>
        <div class="rank-content">
          二位専用(シルバー)
        </div>
        <div class="rank-content">
          三位専用(ブロンズ)
        </div>
        <div class="rank-content sub">
          四〜十位専用(ブロンズ)
        </div>
        <div class="rank-content sub">
          四〜十位専用(ブロンズ)
        </div>
        <div class="rank-content sub">
          四〜十位専用(ブロンズ)
        </div>
        <div class="rank-content sub">
          四〜十位専用(ブロンズ)
        </div>
        <div class="rank-content sub">
          四〜十位専用(ブロンズ)
        </div>
        <div class="rank-content sub">
          四〜十位専用(ブロンズ)
        </div>
        <div class="rank-content sub">
          四〜十位専用(ブロンズ)
        </div>
      </div>
    </div>
  </div>
</div>