<div class="main">
  <%#ページ名領域%>
  <%= render "parts/first-header" %>
  <div class="second-header-ranking-wrapper">
    <div class="second-header-translucent">
      <div class="title-box">
        <h2 class="menu-title">
          ランキング
        </h2>
      </div>
    </div>
  </div class="ranking-wrapper">
    <div class="services-wrapper">
    <%#ランキング分類領域%>
    <div class="ranking-condition-menu">
    </div>
    <%#ランキング内容領域%>
    <div class="ranking-content-display">
    </div>
  </div>
</div>