/*要素の幅と高さに「paddingとborderを含める*/
* {
  box-sizing: border-box;
}

/*ヘッダー要素*/
.top-page-header {
  width: 100%;
  height: 80px;
  display: flex;
  background-color: antiquewhite;
}

.header-logo {
  padding-left: 2vw;
}

.sushi-comp-icon {
  width: 10vw;
  margin-right: 10vw;
}

/*ヘッダーナビ要素*/
.navbar {
  width: 100%;
  height: 100%;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

.navbar-inner {
  display: flex;
  min-width: 100px;
  align-items: center;
}

.navbar-inner a {
  margin-right: 3vw;
  color: #333333;
  display: block;
  height: 100%;
}

.navbar-inner a:hover {
  background:  #ff1787;
  color: #fff;
}

.account {
  margin-left: 10vw;
}