<div class="main">
  <%#ヘッダー領域%>
  <%= render "parts/first-header" %>
  <%#ページ名領域%>
  <div class="second-header-food-wrapper">
    <div class="second-header-translucent">
      <div class="title-box">
        <h2 class="menu-title">
          寿司ネタ一覧
        </h2>
      </div>
    </div>
  </div>
  <%#寿司ネタ一覧領域%>
  <div class="food-main">
    <% @foods.each do |food|%>
      <div class="foods-frame">
        <div class="foods-image">
        <%=link_to image_tag(food.image, size: "150x120"), food_path(food.id)%>
        </div>
        <div class="foods-contents">
          <div class="foods-title">
            <%= food.sushi_neta_name%>
          </div>
          <div class="foods-count">
            ①
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%#戻るボタン(フッター)領域%>
  <div class="footer">
    <div class="btn">
    <%= link_to "戻る", "/", class: "return" %>
    </div>
  </div>
</div>
