<div class="main">
  <%#ヘッダー領域%>
  <%= render "parts/first-header" %>
  <%#ページ名領域%>
  <div class="second-header-map-wrapper">
    <div class="second-header-translucent">
      <div class="title-box">
        <h2 class="menu-title">
          マップ
        </h2>
      </div>
    </div>
  </div>
  <%#マップ表示領域%>
  <div class="map-main">
    <div class="map-item">
      マップ表示
    </div>
  </div>
</div>
